body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    transition: all 0.5s ease-in-out;
}

.konami-active {
    background-color: #003366;
    color: white;
}

h1 {
    transition: transform 0.5s;
}

.konami-active h1 {
    transform: rotate(360deg);
    color: #ff6600; /* Orange de La Plateforme_ */
}
